.notes-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.notes-section > h2 {
    font-family: var(--ff-sans);
    color: var(--c-dark-90);
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.5rem;
}
