.onlyNameButton {
    background: var(--c-dark-100);
    color: var(--c-white);

    width: max-content;
    flex-wrap: nowrap;
    padding: 5px 10px;
    width: 100%;
    font-size: var(--fs-normal-m);
    border-radius: 10px;
    cursor: pointer;

    outline: solid 1px none;
    border: none;

    &:hover {
        background: var(--c-dark-90);
    }

    &--invers {
        background: var(--c-white);
        color: var(--c-dark-100);

        &:hover {
            background: rgb(238, 237, 237);
        }

        &:focus {
            outline-offset: 2px;
        }
    }

    &:focus {
        outline-color: var(--c-dark-100);
        outline-offset: 2px;
    }
}
