.dialog-content.delete {
    text-align: center;
}

.dialog-content.delete h4 {
    color: var(--c-dark-90);
    font-size: 1rem;
}

.del-conf-dialog-btns {
    display: flex;
    gap: 0.5em;
    margin-top: 1.5em;
}

.del-conf-dialog-btns button {
    width: 100%;
}
