.notes-grid-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: 500px;
    overflow-y: auto;
    margin: 0 auto;
    gap: 1em;
    padding: 15px;
}

@media screen and (min-width: 500px) {
    .notes-grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: var(--c-dark-50);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--c-dark-100);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--c-dark-80);
    }
}
