.notice {
    max-width: 800px;
    margin: 0 auto;
}

.notice-img {
    width: 70%;
    margin: 0 auto;
}

.notice-img img {
    width: 100%;
}

.notice-title {
    font-family: var(--ff-sans);
    color: var(--c-dark-80);
    font-weight: var(--fw-second-title);
    font-size: 1rem;
    text-align: center;
}
