:root {
    --c-white: #ffffff;
    --c-light-coral: #ffecd5;
    --c-blue: #d6ebfe;

    --c-dark-100: #111111;
    --c-dark-90: #333333;
    --c-dark-50: #555555;
    --c-dark-10: #999999;

    --ff-sans: "Karla", sans-serif;

    --fs-xlarge-m: 1.6em;
    --fs-xlarge-d: 2.5em;
    --fs-large-m: 1.2em;
    --fs-large-d: 2.5em;
    --fs-normal-m: 1em;
    --fs-normal-d: 1em;
    --fs-small-m: 1em;
    --fs-small-d: 1em;
}
